<a href="https://colab.research.google.com/github/rj7shakya/python_ml/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install numpy pandas matplotlib

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [97]:
df = pd.read_csv("https://raw.githubusercontent.com/rj7shakya/python_ml/main/cleaned_imdb.csv")
df.head()

,Unnamed: 0,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

In [ ]:
df.head(n=2)

In [ ]:
df.columns

In [18]:
df = df.drop(columns=['Unnamed: 0'])

In [ ]:
df.tail()

In [ ]:
df.tail(n=3)

In [ ]:
df.head(n=2)

In [ ]:
df.loc[:]['director_name']

In [ ]:
df.loc[1][:]

In [ ]:
df.iloc[2:4]

In [45]:
df.iloc[1,1]

'Gore Verbinski'

In [ ]:
df.iloc[1:4,1]

In [ ]:
df.iloc[1:4,5:7]

In [ ]:
index = df.columns.get_loc('director_name')
index
df.iloc[:,index]

In [66]:
df.sort_values(by=['imdb_score'],ascending=False).head().loc[:][['movie_title','imdb_score','title_year']]

                    movie_title  imdb_score  title_year
1864  The Shawshank Redemption          9.3      1994.0
3293             The Godfather          9.2      1972.0
2714    The Godfather: Part II          9.0      1974.0
65             The Dark Knight          9.0      2008.0
4416              12 Angry Men          8.9      1957.0

In [57]:
df.shape

(4554, 28)

In [62]:
## find top 5 highest budget movies

In [65]:
df.dropna() #return data
df.dropna(inplace = True)

In [67]:
# x = df["Calories"].mean()

# df["Calories"].fillna(x, inplace = True)

In [90]:
df.groupby(['title_year'])['budget'].mean() 

df.groupby(['title_year','country'])['imdb_score'].mean()

title_year  country
1916.0      USA            8.000000
1925.0      USA            8.300000
1927.0      Germany        8.300000
1929.0      Germany        8.000000
            USA            6.300000
                             ...
2016.0      Japan          6.800000
            Panama         7.200000
            South Korea    7.700000
            UK             7.016667
            USA            6.130000
Name: imdb_score, Length: 451, dtype: float64

In [75]:
df.groupby(['title_year'])['imdb_score','budget'].max()